
/* ------------------------- RESET CSS -------------------------- */

html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
 address, big, cite, code, del, dfn, em, img, ins, kbd, q, s,
 samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
 dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
 tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
 figcaption, footer, header, hgroup, menu, nav, output, ruby, section,
 summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    line-height: normal;
    margin:0;
    width:100%;
    height:100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;

}
h1, h2, h3, h4, h5, h6 {
    clear: both;
    font-weight: normal;
}
blockquote {
    quotes: none;
}
blockquote:before, blockquote:after {
    content: '';
    content: none;
}
del {
    text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a img {
    border: none;
}

div, input, p, textarea {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*:focus
{
    outline: none;  /* REMOVES ANY ON FOCUS ON DIVS */
}

a:link {text-decoration:none;}
a:hover {text-decoration:none;}
a:active {text-decoration:none;}
a:visited {text-decoration:none;}

/* ------------------------- HELPER CLASSES -------------------------- */

.flexCenter {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  -ms-flex-pack: center;
  -webkit-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-flex-align: center;
  align-items: center;
}

.flexColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flexRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

/* ------------------------- Background Image -------------------------- */

.background {
  background: url("images/background-image.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.background {
  background-image: url("../images/image.png");
}

/*______________________HEADER______________________*/

* {
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #19202a;
}

header {
    position: absolute;
    z-index: 3;
    padding: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header img {
    width: 100%;
}

header nav {
    display: flex;
    align-self: center;
}

header nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 300;
    padding: 0 10px;
}

#top-section {
    position: relative;
    background-color: #000;
    min-height: 500px;
    width: 100%;
    height: 100vh;
    background: url("../images/background.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media (min-width: 1200px) {
    #top-section {
        min-height: 900px;
    }
}


/*______________________BODY______________________*/


/*______________________MEDIA______________________*/

#media {
    padding: 20px 0;
    background-size: cover;
}

#media .title {
    background: #000;
    font-size: 1.1rem;
    font-weight: 300;
    text-transform: uppercase;
    padding: 20px;
    text-align: center;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    color: #fff;
}

#media .videos {
    padding: 45px 60px 0;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 17px;
}

#media .video {
    border-radius: 4px;
    overflow: hidden;
    height: 300px;
    -webkit-box-shadow: 0 13px 24px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 13px 24px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 0 13px 24px -8px rgba(0, 0, 0, 0.75);
}

#media iframe {
    height: 100%;
}

@media (min-width: 980px) {
    #media iframe {}
}


/*______________________MUSIC______________________*/

#music {
    padding: 80px 0;
    position: relative;
}

#music .bluredbackground {
    background-image: linear-gradient(45deg, rgba(255, 253, 60, 1) 0%, rgba(255, 253, 60, 1) 33%, rgba(255, 253, 60, 0.96) 36%, rgba(255, 253, 60, 0.86) 43%, rgba(255, 253, 60, 0.20) 62%, rgba(125, 185, 232, 0) 100%), url("../images/album.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    filter: blur(50px) saturate(130%);
    position: absolute;
    z-index: 1;
}

#music .container {
    display: flex;
    justify-content: center;
    padding: 0 50px;
    position: relative;
    z-index: 3;
}

#music .info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#music .info .title {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;
}

#music .info .sub-title {
    font-size: 1.7rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 100px;
}

#music .info .singles {
    width: 400px;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 80px;
}

#music .info li {
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 20px;
}

#music .info .logos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

#music .info .album-cover {
    background: url("images/album.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#music .info .album-cover img {
    width: 50%;
}




/*______________________TOUR______________________*/

#tour {
    background: #000;
    position: relative;
    z-index: 4;
}

#tour .top-img {
    background-image: url("../images/taylorswiftalbum.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: saturate(0%) contrast(150%);
    height: 545px;
    width: 100%;
}

.scrollAnimation {
    -webkit-animation: moveBg 100s linear infinite;
    -moz-animation: moveBg 100s linear infinite;
    -o-animation: moveBg 100s linear infinite;
    animation: moveBg 100s linear infinite;
}

#tour .tourdates {
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0;
}

#tour .title {
    color: #000;
    text-transform: uppercase;
    font-size: 1.8rem;
    text-align: center;
    margin: 0 0 80px;
}

#tour .dates {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

#tour .dates li {
    color: #fff;
    font-size: 1.3rem;
}

#tour .dates li span {
    padding: 0 10px;
}

#tour .dates li .city {
    font-weight: 700;
}

#tour .dates li .location {
    font-size: 1rem;
    font-weight: 300;
}

#tour .dates li .date {
    font-weight: 500;
    color: #f14848;
}





/*______________________FOOTER______________________*/

footer {
    background: #1b1b1b;
    position: relative;
    z-index: 4;
    padding: 25px;
    text-align: center;
    color: white;
}

footer img {
    max-width: 45px;
}

footer a {
    color: red;
    text-decoration: none;
}
