/* ------------------------- RESET CSS -------------------------- */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    line-height: normal;
    margin: 0;
    width: 100%;
    height: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    font-weight: normal;
}

blockquote {
    quotes: none;
}

blockquote:before,
blockquote:after {
    content: '';
    content: none;
}

del {
    text-decoration: line-through;
}


/* tables still need 'cellspacing="0"' in the markup */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a img {
    border: none;
}

div,
input,
p,
textarea {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*:focus {
    outline: none;
    /* REMOVES ANY ON FOCUS ON DIVS */
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}


/* ------------------------- HELPER CLASSES -------------------------- */

.rel {
    position: relative;
}

.flexCenter {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    -ms-flex-pack: center;
    -webkit-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    -webkit-flex-align: center;
    align-items: center;
}

.flexColumn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.flexRow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}


/* ------------------------- Background Image -------------------------- */

.background {
    background: url("images/background-image.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.background {
    background-image: url("../images/image.png");
}


/*______________________HEADER______________________*/

* {
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #19202a;
}

#menu__container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    #menu__container {
    max-width: 540px;
 }
}

@media (min-width: 768px) {
    #menu__container {
    max-width: 720px;
 }
}

@media (min-width: 980px) {
    #menu__container {
    max-width: 960px;
 }
}

@media (min-width: 1200px) {
    #menu__container {
    max-width: 1140px;
 }
}

.main-menu {
    padding: 30px 0;
}

.nav__container {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 2%;
    float: right;
    clear: both;
}

#header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 997;
    background-color: #19202a;
}

#logo {
    color: #fff;
}

@media (max-width: 673px) {
    #logo {
        margin-left: 20px;
    }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  right: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  right: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
  padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Nav Meu Container */

@media (max-width: 768px) {
    #nav-menu-container {
        display: none;
    }
}


/* Nav Meu Styling */

.nav-menu {
    touch-action: pan-y;
}

.nav-menu a {
    padding: 0 8px 0px 8px;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    outline: none;
}

@media (min-width: 980px) {
    .nav-menu a {
        font-size: 16px;
    }
}

.nav-menu li:hover>a {
    color: #fff123;
}

.nav-menu>li {
    margin-left: 10px;
}

.nav-menu ul {
    margin: 22px 0 0 0;
    padding: 10px;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    background: #fff;
}

.nav-menu ul li {
    transition: 0.3s;
}

.nav-menu ul li a {
    padding: 5px 10px;
    color: #333;
    transition: 0.3s;
    display: block;
    font-size: 12px;
    text-transform: none;
}

.nav-menu ul li:hover>a {
    color: #8490ff;
}

.nav-menu ul ul {
    margin-right: 10px;
    margin-top: 0;
}


/* Mobile Nav Toggle */

#mobile-nav-toggle {
    position: fixed;
    right: 15px;
    z-index: 999;
    top: 22px;
    border: 0;
    background: none;
    font-size: 24px;
    display: none;
    transition: all 0.4s;
    outline: none;
    cursor: pointer;
}

#mobile-nav-toggle i {
    color: #fff;
    font-weight: 900;
    font-size: 25px;
}

@media (max-width: 991px) {
    #mobile-nav-toggle {
        display: inline-block;
    }
    #nav-menu-container {
        display: none;
    }
}


/* Mobile Nav Styling */

#mobile-nav {
    position: fixed;
    top: 0;
    padding-top: 18px;
    bottom: 0;
    z-index: 998;
    background: #19202a;
    left: -260px;
    width: 260px;
    overflow-y: auto;
    transition: 0.4s;
}

#mobile-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#mobile-nav ul li {
    position: relative;
}

#mobile-nav ul li a {
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    overflow: hidden;
    padding: 10px 22px 10px 15px;
    position: relative;
    text-decoration: none;
    width: 100%;
    display: block;
    outline: none;
    font-weight: 400;
}

#mobile-nav ul li a:hover {
    color: #fff123;
}

#mobile-nav ul li li {
    padding-left: 30px;
}

#mobile-nav ul .menu-item-active {
    color: #fff;
}

#mobile-body-overly {
    width: 100%;
    height: 100%;
    z-index: 997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    display: none;
}


/* Mobile Nav body classes */

body.mobile-nav-active {
    overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
    left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
    color: #fff;
}

#top-section {
    position: relative;
    width: 100%;
    height: 45vh;
    background: url("../images/logo.jpg") no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media (min-width: 728px) {
    #top-section {
    height: 70vh;
 }
}

@media (min-width: 980px) {
    #top-section {
    height: 85vh;
 }
}

@media (min-width: 1200px) {
    #top-section {
        
    }
}

.moveBackgroundAnimation {
     -webkit-animation: moveBg 100s linear infinite;
       -moz-animation: moveBg 100s linear infinite;
         -o-animation: moveBg 100s linear infinite;
            animation: moveBg 100s linear infinite;
}

@-webkit-keyframes moveBg {
    from {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    to { 
        -webkit-transform: translateX(-550px); 
                transform: translateX(-550px);
    }
}

@-moz-keyframes moveBg {
    from {
        -webkit-transform: translateX(0);
           -moz-transform: translateX(0);
                transform: translateX(0);
    }
    to { 
        -webkit-transform: translateX(-550px); 
           -moz-transform: translateX(-550px); 
                transform: translateX(-550px);
    }
}

@-o-keyframes moveBg {
    from {
        -webkit-transform: translateX(0);
             -o-transform: translateX(0);
                transform: translateX(0);
    }
    to { 
        -webkit-transform: translateX(-550px); 
             -o-transform: translateX(-550px); 
                transform: translateX(-550px);
    }
}

@keyframes moveBg {
    from {
        -webkit-transform: translateX(0);
           -moz-transform: translateX(0);
             -o-transform: translateX(0);
                transform: translateX(0);
    }
    to { 
        -webkit-transform: translateX(-550px); 
           -moz-transform: translateX(-550px); 
             -o-transform: translateX(-550px); 
                transform: translateX(-550px);
    }
}

/******** Blue Section ***********/

#blueSection{
    min-height: 200px;
    overflow: hidden;
}

@media (min-width: 1200px){
    #blueSection {
        min-height: 400px;
    }
}

#blueSection-bg{
    background-size: cover !important;
    background-repeat: no-repeat !important;
    position: absolute;
    left: 0;
    right: -550px;
    top: 0;
    bottom: 0;
    z-index: -1;
}

#blueSection-bg.loaded{
    background: url('../images/image222.jpeg') bottom center;
    height: 100%;
}



.blueSectionAnimation{
    -webkit-animation: moveBg 100s linear infinite;
       -moz-animation: moveBg 100s linear infinite;
         -o-animation: moveBg 100s linear infinite;
            animation: moveBg 100s linear infinite;
}

@-webkit-keyframes moveBg {
    from {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    to { 
        -webkit-transform: translateX(-550px); 
                transform: translateX(-550px);
    }
}

@-moz-keyframes moveBg {
    from {
        -webkit-transform: translateX(0);
           -moz-transform: translateX(0);
                transform: translateX(0);
    }
    to { 
        -webkit-transform: translateX(-550px); 
           -moz-transform: translateX(-550px); 
                transform: translateX(-550px);
    }
}

@-o-keyframes moveBg {
    from {
        -webkit-transform: translateX(0);
             -o-transform: translateX(0);
                transform: translateX(0);
    }
    to { 
        -webkit-transform: translateX(-550px); 
             -o-transform: translateX(-550px); 
                transform: translateX(-550px);
    }
}

@keyframes moveBg {
    from {
        -webkit-transform: translateX(0);
           -moz-transform: translateX(0);
             -o-transform: translateX(0);
                transform: translateX(0);
    }
    to { 
        -webkit-transform: translateX(-550px); 
           -moz-transform: translateX(-550px); 
             -o-transform: translateX(-550px); 
                transform: translateX(-550px);
    }
}

#blueWordsContainer{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    color: white;
    z-index: 1;
    text-shadow: 1px 1px 1px #555;
}

#blueTopLine{
    position:relative;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
    margin-bottom: 15px;
    text-align: center;
}

@media (min-width: 768px){
    #blueTopLine{
        font-size: 28px;
        letter-spacing: 4px;
        margin-bottom: 10px;
    }
}

@media (min-width: 980px){
    #blueTopLine{
        font-size: 33px;
        letter-spacing: 6px;
        margin-bottom: 20px;
    }
}

@media (min-width: 1200px){
    #blueTopLine{
        font-size:40px;
        letter-spacing: 6px;
        margin-bottom: 25px;
    }
}

#blueTopLine > *{
    margin: 0px 0px;
    display:inline-block;
}

@media (min-width: 768px){
    #blueTopLine > *{
        margin: 14px 0px;
    }
}

@media(min-width: 980px){
    #blueTopLine > *{
        display: inline;
        margin: 0px;
    }
}

#blueBottomLine{
    position:relative;
    font-size: 12px;
    letter-spacing: 2px;
    text-align: center;
}

@media (min-width: 768px){
    #blueBottomLine{
        font-size: 16px;
    }
}

@media (min-width: 980px){
    #blueBottomLine{
        font-size: 18px;
    }
}

@media (min-width: 1200px){
    #blueBottomLine{
        font-size: 22px;
    }
}

#blueBottomLine > *{
    margin: 0px 0px;
    display:inline-block;
}

@media(min-width: 768px){
    #blueBottomLine > *{
        margin: 8px 0px;
    }
}

@media(min-width: 980px){
    #blueBottomLine > *{
        display: inline;
        margin: 0px 2px;
        letter-spacing: 4px;
    }
}


#blueBottomLine .divider{
    display: none;
}
@media(min-width: 980px){
    #blueBottomLine .divider{
        display: inline-block;
    }
}



/*______________________BODY______________________*/


/*______________________MEDIA______________________*/

#media {
    margin-top: 1%;
    position: relative;
    padding: 20px 0;
    background-size: cover;
}

@media (min-width: 768px) {
    #media {
    margin-top: 10%;
 }
}

@media (min-width: 980px) {
    #media {
    margin-top: 8%;
 }
}

@media (min-width: 1200px) {
    #media {
    margin-top: 1%;
 }
}

#media .title {
    background: #000;
    font-size: 1.1rem;
    font-weight: 300;
    text-transform: uppercase;
    padding: 20px;
    text-align: center;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 2%;
    color: #fff;
}

@media (min-width: 980px) {
    #media .title {
    margin-top: 1%;
    margin-bottom: 1%;
 }
}

#media .videos {
    padding: 30px 60px 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 17px;
}

@media (min-width: 980px) {
    #media .videos {
    padding: 30px 60px 0;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 20px;
 }
}

#media .video {
    border-radius: 4px;
    overflow: hidden;
    height: 300px;
    -webkit-box-shadow: 0 13px 24px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 13px 24px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 0 13px 24px -8px rgba(0, 0, 0, 0.75);
}

#media iframe {
    height: 100%;
}

@media (min-width: 980px) {
    #media iframe {}
}



/*______________________MUSIC______________________*/

#music {
    padding: 80px 0;
    position: relative;
}

#music .bluredbackground {
    background-image: linear-gradient(45deg, rgba(255, 253, 60, 1) 0%, rgba(255, 253, 60, 1) 33%, rgba(255, 253, 60, 0.96) 36%, rgba(255, 253, 60, 0.86) 43%, rgba(255, 253, 60, 0.20) 62%, rgba(125, 185, 232, 0) 100%), url("../images/album.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    filter: blur(50px) saturate(130%);
    position: absolute;
    z-index: 1;
}

#music .container {
    display: flex;
    justify-content: center;
    padding: 0 50px;
    position: relative;
    z-index: 3;
}

#music .info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#music .info .title {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;
}

#music .info .sub-title {
    font-size: 1.7rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 100px;
}

#music .info .singles {
    width: 385px;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 80px;
}

@media (min-width: 1200px) {
    #music .info .singles {
    width: 400px;
}
}

#music .info li {
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 20px;
}

#music .info .logos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

#music .info .album-cover {
    background: url("images/album.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#music .info .album-cover img {
    width: 50%;
}





/*______________________TOUR______________________*/

#tour {
    background: #000;
    position: relative;
    z-index: 4;
}

#tour .top-img {
    background-image: url("../images/taylorswiftalbum.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: saturate(0%) contrast(150%);
    height: 545px;
    width: 100%;
}

#tour .tourdates {
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0;
}

#tour .title {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.8rem;
    text-align: center;
    margin: 0 0 80px;
}

#tour .dates {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}

@media (min-width: 980px) {
    #tour .dates {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
 }
}

#tour .dates li {
    color: #fff;
    font-size: 1.3rem;
    text-align: center;
}

#tour .dates li span {
    padding: 0 10px;
}

#tour .dates li .city {
    font-weight: 700;
}

#tour .dates li .location {
    font-size: 1rem;
    font-weight: 300;
}

#tour .dates li .date {
    font-weight: 500;
    color: #f14848;
}






/*______________________FOOTER______________________*/

footer {
    background: #19202a;
    position: relative;
    z-index: 4;
    padding: 25px;
    text-align: center;
    color: #fff;
}

footer img {
    max-width: 45px;
}

footer a {
    color: Red;
    letter-spacing: 2px;
    text-decoration: none;
}